html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .4em .75em .6em;
  background-color: #333;
  color: #fff;
  border: 0;
  text-decoration: none;
  font-size: 1.125rem;
  border-radius: 8px;

  }

  .btn:hover {
    background-color: #000;
  }

.btn-subtle {
background-color: #ccc;
padding: .4em .75em;
}

.btn-ghost {
  color: #000;
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  padding: .4em .75em;
}

.btn-warning {
  background-color: #f33;
  padding: .75em;

}

.btn-small {
  font-size: .875rem;

}

.btn-sub-small {
  font-size: .875rem;
  background-color: #ccc;

}

.btn-gho-small {
  color: #000;
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  font-size: .875rem;
  padding: .4em .74em;

}

.btn-warn-small {
  font-size: .875rem;
  background-color: #f33;
}
